.addTeam {
  flex: 0.8;
  background-color: #fff;
  margin: 2rem;
  overflow: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addTeamForm {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addTeamForm {
  display: flex;
  padding: 10px;
}

.addTeamForm__Left {
  flex: 0.7;
}

.addTeamForm__Right {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.addTeamForm__LeftItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addTeamForm__LeftItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.addTeamForm__LeftInput {
  border: none;
  width: 800px;
  height: 50px;
  border-bottom: 1px solid gray;
  text-transform: capitalize;
}

.addTeamForm__RightButton {
  border-radius: 5px;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.addTeamForm__RightUploadButton {
  border-radius: 5px;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: teal;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}

.addTeamForm__RightUpload {
  display: flex;
  align-items: center;
}

.userUpdateIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
