.addProject {
  flex: 0.8;
  background-color: #fff;
  margin: 2rem;
  overflow: scroll;
  padding: 20px;
}

.addProjectForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

.addProjectForm__Left {
  flex: 0.8;
}

.addProjectForm__LeftItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addProjectForm__LeftItemInput {
  border: none;
  width: 90%;
  height: 50px;
  border-bottom: 1px solid gray;
}

.addProjectForm__RightItemInput {
  border: none;
  width: 250px;
  height: 50px;
  border-bottom: 1px solid gray;
}

.addProjectForm__RightUpload {
  display: flex;
  align-items: center;
}

.addProjectForm__RightButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.addProjectForm__Right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0.2;
}

.addMember {
  text-align: left;
}
